/******NAVBAR******/

.navbar {
    justify-content: center;
    background-color: #e30613;
    box-shadow: 6px 5px #000000;
}

.nav_logo {
    display: none;
}

.nav_link {
    margin: 0 6px;
}

.nav_text {
    /*estilo para el link del nav*/
    font-size: 1rem;
}

/****** HERO ******/

.hero_logo {
    height: 13%;
    
}

.hero_text {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 40px;
}

.nav_text:hover {
    color: #000000;
}

/******PORTAFOLIO******/

#Portafolio {
    height: 250px;
    padding: 80px 10px;
}

.Portafolio_text {
    width: 100%;
}

/******VIDEO SECTION******/

.Videos {
    padding: 20px 0;
}

.vampire_vid {
    display: none;
}

.reels {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    padding: 30px;
}

/****** TRABAJOS EXTENDIDOS ******/

.trabajos_extendidos {
    padding: 50px 20px;
}

/****** PROFILE ******/

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    grid-gap: 30px;    
}

.profile_pic {
    width: 90%;
}

.profile_text {
    text-align: center;
}

.profile_desc {
    width: 100%;
    text-align: center;
}

/****** SOFTWARE ******/

.caja2 {
    padding: 20px 10px;
}

.cj_icon {
    margin: 20px 10px;
}

/****** FOOTER ******/

.footer_text {
   text-align: center;
}
